<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After school classes & activities</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="style.css">
</head>
<body>


    <div id="app">

        <nav>
            <div class="container">
                <div>{{ sitename }}</div>
                <button @click="cartHidden = false" class="cart-btn" :disabled="!hasItemInCart">£{{ cartTotal }}<i class="fas fa-shopping-basket"></i></button>
            </div>
        </nav>

        <div class="container filters">

            <div class="filters-container">
                <span class="name">Sort by:</span>
                <div class="filters-selection">
                    <button v-for="filter in filters" @click="selectedFilter = filter" v-bind:class="{ active: isSelectedFilter(filter) }">{{filter}}</button>
                </div>
            </div>
            <div class="filters-container">
                <div class="filters-selection">
                    <button v-for="order in orderBy" @click="selectedOrder = order" v-bind:class="{ active: isSelectedOrder(order) }">{{order}}</button>
                </div>
            </div>
        </div>
        
        <main v-if="cartHidden">
            
            <div class="lesson" v-for="lesson in sortedLessons">
                <div class="lesson-wrapper">
                    <div class="image" v-bind:style="{ 'background-image': 'url(' + lesson.image + ')' }"></div>
                    <div class="info">
                        <div class="name">{{ lesson.name }}</div>
                        <div class="location">in {{ lesson.location }}</div>
                        <div class="avai-spaces">Spaces left: {{ lesson.availableSpaces }}</div>
                        <div class="price">£{{ lesson.price }}</div>
                        <button @click="addToCart(lesson)" :disabled="isAvailable(lesson)">Add to cart</button>
                    </div>
                </div>
            </div>
        </main>

        <div v-else>
            <button @click="cartHidden = true" class="cart-btn">close</button>

            <ul>
                <li v-for="(item, index) in cart">{{ item.lesson.name }} {{ item.quantity }} <a href="" @click="removeFromCart(index, $event)">remove</a></li>
            </ul>
        </div>


    </div>

    <script src="lessons.js"></script>
    <script src="app.js"></script>
    
</body>
</html>